# GL Texture Player dist
# http://www.openengine.dk/wiki/Projects/GLTexturePlayer

# main repository
darcs / http://openengine.dk/code/openengine

# required extensions
darcs /extensions/SDL             http://openengine.dk/code/extensions/SDL
darcs /extensions/OpenGLRenderer  http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/GenericHandlers http://openengine.dk/code/extensions/GenericHandlers
darcs /extensions/FFMPEGResource  http://openengine.dk/code/extensions/FFMPEGResource

# project
darcs /projects/GLTexturePlayer   http://openengine.dk/code/projects/GLTexturePlayer
